<div style="background-color: #222831;  text-align: center">
  <% if (workouts.length === 0) { %>

    <h2> You don't have any workouts saved yet </h2>
    <a href="/workout/new">
      Create a Workout
    </a>

  <% } else { %>
  <div class="container">
      <div class="page-header main-image-overlay">
  		<h1 style="color: white">Workout Timeline</h1>
  	</div>
  	<div id="timeline"><div class="row timeline-movement timeline-movement-top">
      <div class="timeline-badge timeline-future-movement">
          <a href="/workout/new">
              <span class="glyphicon glyphicon-plus"></span>
          </a>

      </div>
  </div>
  <% workouts.forEach((oneWorkout) => { %>
  <div class="row timeline-movement">

      <div class="timeline-badge">
          <span class="timeline-balloon-date-day"><%= oneWorkout.date.getDate() %></span><br>
          <span class="timeline-balloon-date-month">JUN</span>
      </div>

  <% if (oneWorkout.strength.strName !== "") { %>
      <div class="col-sm-6  timeline-item">
          <div class="row">
              <div class="col-sm-11">
                  <div class="timeline-panel credits">
                      <ul class="timeline-panel-ul">
                          <li><span class="importo">Exercise name: <%= oneWorkout.strength.strName %></span></li><br>
                          <li><span class="causale">Weight: <%= oneWorkout.strength.weight %> lbs </span> </li><br>
                          <li><span class="causale"> Repetitions: <%= oneWorkout.strength.reps %></span> </li>
                          <li><p><small class="text-muted"><i class="glyphicon glyphicon-time"></i><%= oneWorkout.createdAt %></small></p> </li>
                      </ul>
                  </div>

              </div>
          </div>
      </div>
  <% } %>
  <% if (oneWorkout.cardio.carName !== "") { %>
      <div class="col-sm-6  timeline-item">
          <div class="row">
              <div class="col-sm-offset-1 col-sm-11">
                  <div class="timeline-panel debits">
                      <ul class="timeline-panel-ul">
                          <li><span class="importo">Cardio Type: <%= oneWorkout.cardio.carName %></span></li><br>
                          <li><span class="causale">Time spent: <%= oneWorkout.cardio.time %> minutes</span> </li><br>
                          <li><span class="causale">Distance: <%= oneWorkout.cardio.distance %> miles</span> </li><br>
                          <li><span class="causale">Calories burned: <%= oneWorkout.cardio.calories %></span> </li><br>
                          <li><p><small class="text-muted"><i class="glyphicon glyphicon-time"></i><%= oneWorkout.createdAt %></small></p> </li>
                      </ul>
                  </div>

              </div>
          </div>
      </div>
    </div>
        <% } %>
      <% }) %>
  </div>
  </div>
  </div>
</div>


<% } %>
