<div style="background-color: #222831; border-bottom: 2px solid black; border-shadow: 1px;">
<div class="container">
  <h2><center class="main-image-overlay"> Edit Your Profile </h2>

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title"><%= user.firstName %> <%= user.lastName %></h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <form action="/profile/edit" method="post" enctype="multipart/form-data">
                <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="/images/not_available_icon.jpg"
                   class="img-circle img-responsive"> </div>
                   <input type="file" name="photoAddress" class="btn btn primary"> Upload image </input>

                <div class=" col-md-9 col-lg-9 ">
                  <table class="table table-user-information">

                    <tbody>
                      <tr>
                        <td>Date of Birth</td>
                        <td><input id="DOB" type="Date" name="dob"></td>
                      </tr>
                      <tr>
                        <td>First Name</td>
                        <td><input id="firstName" type="text" name="firstName" value="<%= user.firstName %>"></td>
                      </tr>
                      <tr>
                        <td>Last Name</td>
                        <td><input id="lastName" type="text" name="lastName" value="<%= user.lastName %>"</td>
                      </tr>
                      <tr>
                        <td><label>Gender</label></td>
                        <td><label class ="radio-inline"><input type="radio" name="gender" value="Male" id=male /> Male</label><label class ="radio-inline"><input type="radio" name="gender" value="Female" id=female /> Female</label>
                      </tr>
                      <tr>
                        <td>Email</td>
                        <td><input type="text" name="email" value="<%= user.email %>"<a></a></td>
                      </tr>
                        <td>Phone Number</td>
                        <td>123-4567-890
                        </td>

                      </tr>

                    </tbody>
                  </table>

                  <button class="btn btn-primary">Submit</button>
                    </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<% if (typeof successMessage !== 'undefined' && successMessage.length > 0) { %>
  <div class="success"> <%= successMessage %> </div>
<% } %>

<% if (typeof errorMessage !== 'undefined') { %>
  <div class="error"> <%= errorMessage %> </div>
<% } %>
<br>
